/* PLACEHOLDERS */


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%paddingLimit {
    padding-left: 30px;
    padding-right: 30px;
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
    @include mq(mob){
        padding-left: 20px;
        padding-right: 20px;
    }
}


// PSEUDO ELEMENTS
%pseudoE {
    @include flex;
    @extend %width100;
    content: '';
}


// TEXT
%xxlTitle {
    font-size: toRem(60);
    @include mq(tab){
        font-size: toRem(48);
    }
    @include mq(mob){
        font-size: toRem(36);
    }
    @include mq(mobS2){
        font-size: toRem(28);
    }
}

%lTitle {
    font-size: toRem(40);
    @include mq(tab){
        font-size: toRem(32);
    }
    @include mq(mob){
        font-size: toRem(28);
    }
    @include mq(mobS2){
        font-size: toRem(24);
    }
}

%mTitle {
    font-size: toRem(32);
    @include mq(tab){
        font-size: toRem(28);
    }
    @include mq(mob){
        font-size: toRem(24);
    }
    @include mq(mobS2){
        font-size: toRem(20);
    }
}

%titleForm {
    font-size: toRem(26);
    @include mq(tab){
        font-size: toRem(23);
    }
    @include mq(mob){
        font-size: toRem(20);
    }
    @include mq(mobS2){
        font-size: toRem(18);
    }
}

%textCite {
    font-size: toRem(20);
    color: $gray;
    @include mq(tab){
        font-size: toRem(18);
    }
    @include mq(mob){
        font-size: toRem(16);
    }
}

%text {
    font-size: toRem(15);
    color: $gray;
}


// HIDE INPUTS TYPE CHECKBOX AND RADIO
%hideCheckbox {
	display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


// IMAGE COVER
%imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}