/* CONTAINER */

// CONTAINER
.container {
    width: 100%;
    &__wrapper {
        @include flex;
    }
    &__left, &__right {
        width: 50%;
    }
    &__title {
        @extend %width100;
        @extend %lTitle;
        color: $black;
        text-align: center;
        font-weight: 800;
        line-height: 1;
    }
    &__subtitle {
        @extend %width100;
        @extend %mTitle;
        color: $black;
        font-weight: 500;
        line-height: 1.2;
    }
    &__text {
        @extend %text;
        line-height: 1.5;
    }
    &__picture {
        display: block;
        @extend %width100;
        line-height: 0;
    }
    &__img {
        @extend %imgCover;
        &--rectangle {
            box-shadow: 0 0 10px rgba($black, .15);
            border-radius: 5px;
        }
    }
    &--general {
        padding-top: 80px;
        overflow: hidden;
        @include mq(tab) {
            padding-top: 72px;
        }
        @include mq(mob) {
            padding-top: 62px;
        }
    }
    &--relative {
        position: relative;
    }
    &--limit {
        @extend %widthLimit;
    }
    &--lGray {
        background: $lGray;
    }
    &--features {
        padding: 100px 0 70px;
        @include mq(tab) {
            padding: 70px 0;
        }
        @include mq(mob) {
            padding: 50px 0;
        }
        .container {
            &__title {
                margin-bottom: 70px;
                @include mq(tab) {
                    margin-bottom: 50px;
                }
                @include mq(mob) {
                    margin-bottom: 30px;
                }
            }
        }
    }
    &--testimonials, &--getInTouch, &--divided {
        padding: 100px 0;
        @include mq(tab) {
            padding: 70px 0;
        }
        @include mq(mob) {
            padding: 50px 0;
        }
        .container {
            &__title {
                margin-bottom: 70px;
                @include mq(tab) {
                    margin-bottom: 50px;
                }
                @include mq(mob) {
                    margin-bottom: 30px;
                }
            }
        }
    }
    &--divided {
        .container {
            &__wrapper {
                @include flex($ai: stretch, $ac: stretch);
            }
            &__left {
                @include flex(flex-end, flex-start, flex-start);
                width: 55%;
                padding-right: 80px;
                @include mq(lapS2) {
                    padding-right: 50px;
                }
                @include mq(tab) {
                    padding-right: 30px;
                }
                @include mq(mob) {
                    @include flex(center, flex-start, flex-start);
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 30px;
                }
            }
            &__right {
                width: 45%;
                padding-left: 80px;
                @include mq(lapS2) {
                    padding-left: 50px;
                }
                @include mq(tab) {
                    padding-left: 30px;
                }
                @include mq(mob) {
                    width: 100%;
                    padding-left: 0;
                }
            }
            &__title {
                margin-bottom: 30px;
            }
            &__picture {
                max-width: 520px;
                @include mq(mob) {
                    max-width: 460px;
                }
            }
        }
    }
    &--prototypes {
        .container {
            &__title {
                text-align: left;
            }
            &__img {
                height: auto;
                max-width: 550px;
            }
        }
    }
    &--aboutUs {
        .container {
            &__title {
                margin-bottom: 70px;
                @include mq(tab) {
                    margin-bottom: 50px;
                }
                @include mq(mob) {
                    margin-bottom: 30px;
                }
            }
            &__subtitle, &__text {
                margin-bottom: 30px;
                @include mq(mob) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}