/* FOOTER */

// FOOTER
.footer {
    width: 100%;
    padding: 120px 0 40px;
    background: $white;
    border-top: 1px solid rgba($gray, .15);
    @include mq(tab) {
        padding: 80px 0 40px;
    }
    @include mq(mob) {
        padding: 30px 0;
    }
    &__container {
        @include flex;
        @extend %widthLimit;
        height: auto;
    }
    &__text {
        @extend %text;
        font-weight: 500;
    }
}