/* HEADER */


// HEADER
.header {
    width: 100%;
    margin: auto;
    background: rgba($white, 1);
    box-shadow: 0 0 7px rgba($black, .1);
    @include position(fixed, 0, $l: 0);
    z-index: +5;
    &__container {
        @include flex(flex-start);
        @extend %widthLimit;
        height: auto;
        min-height: 80px;
        padding: 20px 30px;
        @include position;
        @include transition;
        @include mq(tab) {
            min-height: auto;
        }
        @include mq(mob) {
            padding: 15px 20px;
        }
    }
    &__text {
        font-size: toRem(14);
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 2px;
    }
}


// LOGO
.logo {
    display: inline-block;
    width: 170px;
    @include position(absolute, 85px, $l: calc(50% - (170px / 2)));
    @include transition;
    z-index: +1;
    @include mq(tab){
        @include position;
    }
    .header.scroll & {
        @include position(absolute, 20px, $l: 30px);
        @include mq(tab){
            @include position;
        }
    }
    &__text {
        color: $black;
        font-size: toRem(35);
        font-weight: 600;
        &::after {
            display: inline-block;
            content: ".";
            color: $fluorGreen;
            @include position;
            transform: translateX(-10px);
        }
        @include mq(tab){
            font-size: toRem(25);
            &::after {
                transform: translateX(-5px);
            }
        }
        // @include mq(mob){
        //     font-size: toRem(20);
        //     &::after {
        //         transform: translateX(-2px);
        //     }
        // }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


// NAV
.nav {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    @include transition;
    @include mq(tab) {
        @include flex;
        height: 100vh;
        padding-top: 72px;
        background: $white;
        @include position(fixed, 0, $l: 0);
        opacity: 0;
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
    @include mq(mob) {
        padding-top: 62px;
    }
    .header.scroll & {
        // max-width: 700px;
        max-width: 620px;
        @include mq(tab) {
            max-width: 100%;
        }
    }
    &__list {
        @include flex;
        @include transition;
        &__item {
            @include transition;
            @include mq(tab) {
                width: 100%;
                text-align: center;
            }
        }
        &__link {
            padding: 10px 30px;
            @include flex($d:inline-flex);
            font-size: toRem(16);
            letter-spacing: .5px;
            font-weight: 500;
            color: $black;
            @include transition;
            &.active, &:hover {
                color: $fluorGreen;
            }
            @include mq(tab) {
                padding: 20px;
            }
            .header.scroll & {
                padding: 10px 15px;
                @include mq(tab) {
                    padding: 20px;
                }
            }
        }
    }
}