/* BANNER */

.banner {
    @include flex;
    @extend %width100;
    min-height: 700px;
    height: 100vh;
    max-height: 800px;
    padding: 100px 0;
    @include position;
    @include mq(lapS2) {
        min-height: unset;
        height: auto;
        max-height: unset;
        padding: 70px 0;
    }
    @include mq(mob) {
        padding: 50px 0;
    }
    &__container {
        @extend %widthLimit;
        @include mq(mob) {
            order: 1;
        }
    }
    &__info {
        @extend %width100;
        max-width: 400px;
        margin-left: 0;
        @include mq(tab) {
            max-width: 350px;
        }
        @include mq(mob) {
            max-width: 100%;
        }
    }
    &__title {
        margin-bottom: 10px;
        @extend %xxlTitle;
        font-weight: 800;
        color: $black;
    }
    &__text {
        margin-bottom: 50px;
        @extend %text;
        line-height: 1.5;
        @include mq(mob) {
            margin-bottom: 30px;
        }
    }
    &__img {
        @extend %width100;
        max-width: 800px;
        @include position(absolute, $b: 100px, $r: 0);
        @include mq(lap) {
            max-width: 650px;
        }
        @include mq(lapS2) {
            max-width: 500px;
            margin: auto;
            @include position(absolute, 0, $b: 0, $r: 0);
        }
        @include mq(tab) {
            max-width: 400px;
        }
        @include mq(mob) {
            order: 0;
            width: calc(100% - 40px);
            margin-bottom: 30px;
            @include position;
        }
    }
}