/* BOXES */


// BIG BOX
.bigBox {
    @extend %width100;
    &__container {
        @include flex;
        @extend %widthLimit;
    }
    &__left, &__right {
        width: 50%;
    }
    &__left {
        padding-right: 20px;
    }
    &__right {
        padding-left: 20px;
    }
}