/* BUTTONS */

.btn {
	@include flex($fw: nowrap, $d:inline-flex);
	vertical-align: middle;
	min-width: 150px;
	height: 50px;
	box-shadow: 0 7px 7px rgba($fluorGreen, .15);
	border: 1px solid transparent;
	border-radius: 40px;
	padding: 7px 40px;
	outline: none;
	background: $fluorGreen;
	text-align: center;
	@extend %text;
	color: $white;
	line-height: 1;
	font-weight: 500;
	letter-spacing: .8px;
	cursor: pointer;
	@include transition;
	&:hover {
		box-shadow: 0 3px 3px rgba($fluorGreen, .25);
		background: $black;
	}
	@include mq(mob) {
		min-width: 120px;
		height: 40px;
	}
}

// HAMBURGER BTN

.hamburgerBtn {
	display: none;
	width: $widthBarHam + 8;
	height: $widthBarHam + 8;
	@if $acSizeHam {
		width: $sizeHam;
		height: $sizeHam;
	}
	margin-left: auto;
	background: $bgHam;
	position: relative;
	overflow: hidden;
	@include mq(tab){
		@include flex;
	}
	&__line {
		display: block;
		width: $widthBarHam;
		@if $acSizeHam {
			width: 90%;
		}
		height: $heightBarHam;
		background: $colorBarHam;
		@if $radiusBarHam {
			border-radius: $radiusBarHam;
		}
		@include transition;
		overflow: hidden;
		&:first-of-type {
			transform: translateY((-$spaceBar));
		}
		&:last-of-type {
			transform: translateY($spaceBar);
		}
	}
	&.active {
		.hamburgerBtn__line {
			&:first-of-type {
				transform: translateY($heightBarHam) rotate(-45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: translateY((-$heightBarHam)) rotate(45deg);
				transition-delay: .1s;
			}
		}
	}
}