/* CAROUSEL */

// CAROUSEL
.carousel {
    @extend %width100;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
    &__item {
        @include flex;
        @extend %width100;
        text-align: center;
        overflow: hidden;
        &__user {
            @include circle(135);
            margin-bottom: 45px;
            @include mq(mob){
                @include circle(100);
                margin-bottom: 30px;
            }
            &Img {
                @extend %imgCover;
            }
        }
        &__cite {
            margin-bottom: 20px;
            @extend %textCite;
            line-height: 1.5;
            font-weight: 500;
            @include mq(mob){
                margin-bottom: 10px;
            }
        }
        &__author {
            @extend %text;
            font-weight: 500;
            color: $black;
        }
    }
}

// SWIPER
.swiper-container.carousel {
    .swiper {
        &-pagination {
            margin-top: 40px;
            @include position(static);
            &-bullet {
                @include circle(10);
                margin: 5px;
                background: $lGray2;
                opacity: 1;
                @include transition;
                &-active {
                    background: $fluorGreen;
                }
            }
            @include mq(mob) {
                margin-top: 20px;
                &-bullet {
                    @include circle(8);
                    margin: 4px;
                }
            }
        }
    }
}
