/* CARDS */

.cards {
    @include flex($ai: flex-start, $ac: flex-end);
    width: calc(100% + 30px);
    margin-right: -30px;
}

// CARD
.card {
    width: calc((100% / 3) - 30px);
    padding: 30px;
    margin: 0 30px 30px 0;
    box-shadow: 0 0 7px rgba($black, 0);
    border-radius: 7px;
    background: $white;
    transform: scale(1);
    @include transition;
    @include mq(mob) {
        width: calc((100% / 2) - 30px);
        padding: 25px;
    }
    @include mq(mobS2) {
        width: calc(100% - 30px);
        margin-bottom: 20px;
    }
    &__top, &__content {
        @include flex;
        @extend %width100;
    }
    &__title {
        margin-bottom: 15px;
        font-size: toRem(18);
        font-weight: 600;
        color: $black;
        @include mq(mob) {
            font-size: toRem(17);
        }
    }
    &__info {
        @extend %width100;
    }
    &__picture {
        display: block;
        background: $lGray;
        overflow: hidden;
    }
    &__img {
        @extend %imgCover;
        &[src=""] {
            display: none;
        }
    }
    &__text, &__link {
        margin-bottom: 20px;
        @extend %text;
        line-height: 1.5;
    }
    &__link {
        display: inline-block;
        margin-bottom: 10px;
        color: $fluorGreen;
        font-weight: 500;
        line-height: 1;
        letter-spacing: .5px;
    }
    &__icon {
        @include flex($d: inline-flex);
        @include circle(50);
        box-shadow: 0 5px 7px rgba($fluorGreen, .25);
        margin-bottom: 20px;
        background: $fluorGreen;
        font-size: toRem(30);
        color: $white;
        @include mq(mob) {
            @include circle(40);
            margin-bottom: 15px;
            font-size: toRem(25);
        }
    }
    &__cite {
        @extend %text;
        line-height: 1.5;
    }
    &:hover {
        box-shadow: 0 5px 7px rgba($black, .05);
        transform: scale(1.1);
    }
    &--cite {
        width: 100%;
        margin: 0;
        border: 1px solid rgba($gray, .35);
        box-shadow: 0 0 10px rgba($black, .15);
        &:hover {
            box-shadow: 0 0 10px rgba($black, .15);
            transform: scale(1);
        }
        .card {
            &__top {
                @include flex($ai: stretch, $ac: stretch);
                margin-bottom: 35px;
                @include mq(mob) {
                    margin-bottom: 20px;
                }
            }
            &__info {
                @include flex;
                width: calc(100% - 70px);
                padding-left: 20px;
            }
            &__name {
                @extend %width100;
                margin-bottom: 10px;
                @extend %text;
                color: $black;
                font-weight: 800;
            }
            &__job {
                @extend %width100;
                @extend %text;
                color: $black;
            }
            &__picture {
                @include circle(70);
            }
        }
    }
}