/* FORMS */


// FORM
.form {
	@include flex;
	@extend %width100;
	max-width: 850px;
	padding: 70px 60px;
	background: $white;
    @include mq(mob) {
		padding: 30px 20px;
	}
	&__title {
		@extend %width100;
		margin-bottom: 60px;
		@extend %titleForm;
		font-weight: 500;
		text-align: left;
		line-height: 1;
		color: $black;
		@include mq(tab) {
			margin-bottom: 45px;
		}
		@include mq(mob) {
			margin-bottom: 30px;
		}
	}
	&__box {
		@extend %width100;
		padding: 0;
		padding-bottom: 15px;
		margin-bottom: 5px;
		position: relative;
		.form__group--divided & {
			width: calc(50% - 20px);
			&:first-of-type {
				margin-left: 0;
			}
			&:nth-of-type(2) {
				margin-right: 0;
			}
			@include mq(mob) {
				width: 100%;
			}
		}
		&--icon {
			position: relative;
			&::before {
				@extend %pseudoE;
				width: 17px;
				height: 17px;
				@include bg('icons/calendar.svg', $size: initial);
				position: absolute;
				top: 34px;
				right: 15px;
				pointer-events: none
			}
		}
	}
	&__group {
		@include flex;
		@extend %width100;
		&__title {
			@extend .form__label;
		}
		&--divided {
			@include flex(space-between);
		}
	}
	&__label {
		display: block;
		@extend %width100;
		margin-bottom: 12px;
		@extend %text;
		text-align: left;
		font-weight: 500;
		color: $black;
		@include transition;
		@include mq(mob) {
			margin-bottom: 8px;
		}
	}
	&__input, &__textarea {
		width: 100%;
		padding: 12px;
		height: 50px;
		border: 2px solid $lGray4;
		font-family: $montserrat;
		@extend %text;
		color: $mGray;
		font-weight: 500;
		letter-spacing: .5px;
		@include transition;
		@include placeholder {
			font-size: toRem(15);
			color: $mGray;
			font-weight: 500;
		}
		@include mq(mob) {
			border: 1px solid $lGray4;
			height: 38px;
		}
		&.error {
			border-color: $red;
			color: $red;
		}
	}
	&__textarea {
		height: 200px;
		resize: none;
	}
	&__message {
		@extend %width100;
		font-size: toRem(10);
		text-align: left;
		letter-spacing: 1px;
		position: absolute;
		left: 0;
		bottom: 2px;
		&--error {
			color: $red;
			font-weight: 500;
		}
	}
	&__link {
		display: block;
		@extend %width100;
		color: $gray;
		&::after {
			display: inline-block;
			content: "";
			width: 25px;
			height: 12px;
			margin-left: 5px;
			@include bg('icons/arrow--large.svg');
		}
	}
	&__info {
		font-size: toRem(15);
		text-align: center;
		letter-spacing: 1px;
		color: $gray;
	}
}