/* LIST */

.list {
    &__item {
        padding-left: 35px;
        margin-bottom: 15px;
        @extend %text;
        position: relative;
    }
    &--check {
        .list {
            &__item {
                &::before {
                    content: "\e5ca";
                    font-family: 'icomoon' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    font-size: toRem(20);
                    color: $lime;
                }
            }
        }
    }
}