/* LOADER */

.loader {
	@include flex;
	width: 100vw;
	height: 100vh;
	background: $bgLoader;
	position: fixed;
	top: 0;
	left: 0;
	@include transition($time:1);
	z-index: 3500;
	&__container {
		width: $widthLoader;
		margin: 0 auto;
		position: relative;
	}
	&__content {
		width: 100%;
		transform-origin: center;
		animation: rotate 20s linear infinite;
	}
	&__circular {
		stroke: $strokeLoader;
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		stroke-linecap: round;
		animation: dashLoader 1.5s ease-in-out infinite;
		&:nth-of-type(2) {
			animation-delay: .3s;
		}
		&:nth-of-type(3) {
			animation-delay: .6s;
		}
	}
	&--one {
		.loader__circular {
			&:nth-child(n+2) {
				display: none;
			}
		}
	}
	&.hide {
		.loader__content, .loader__circular {
			animation-play-state: paused;
		}
	}
}