/* SELECT */


// SELECT
.select {
    @extend %width100;
}


// CHOICES
.choices {
    @extend %width100;
    margin-bottom: 0 !important;
    color: $gray;
    &[data-type*=select-one] {
        &::after {
            width: 14px !important;
            height: 7px !important;
            border: 0 !important;
            margin: auto !important;
            @include bg('icons/arrow.svg');
            top: 0 !important;
            bottom: 0 !important;
            @include transition;
            transform: rotate(180deg);
        }
    }
    &.is-open {
        &::after {
            transform: rotate(360deg);
        }
    }
    &__inner {
        @include flex(flex-start){
            display: flex !important;
        };
        height: 36px;
        min-height: 36px !important;
        padding: 12px !important;
        border-radius: 0 !important;
        border-color: transparent;
    }
    &__input {
        display: none !important;
    }
    &__list {
        text-align: left;
        border-radius: 0 !important;
        &--dropdown {
            padding-right: 0 !important;
        }
        &--single {
            padding: 0 !important;
        }
    }
    &__item {
        &--selectable {
            .choices__list--dropdown & {
                padding: 10px !important;
                &::after {
                    display: none;
                }
            }
        }
    }
}